# Option A
# specific versions used in development
# (comment out for option B)
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
ipykernel==6.29.5
tqdm==4.67.1
matplotlib==3.10.3
seaborn==0.13.2

# Option B
# more relaxed installation options
# (comment out for option A)
# numpy
# pandas
# scikit-learn
# ipykernel
# tqdm
# matplotlib
# seaborn